@using EntityLayer.Concrete
@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<h1>Turlar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şəhər</th>
        <th>Vaxt</th>
        <th>Tutum</th>
        <th>Qiymət</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Capacity</td>
            <td>@item.Price$</td>
            <td><a href="#" class="btn btn-outline-info">Detaylar</a></td>

        </tr>
    }
</table>